#cabecera
{
    font-family: arial; 
    text-align: center;
    background-color: #038194; 
    color: white;
}

#blog-post_continer 
{ 
    font-family: arial;  
    text-align:center 
}

.remarcaciones{
    color: red; 
}